#!/bin/bash

# Checksum of the Brewfiles
# brewfiles hash: {{ include (joinPath .chezmoi.sourceDir "dot_config/brewfiles/Brewfile.dev") | sha256sum }} \
#                 {{ include (joinPath .chezmoi.sourceDir "dot_config/brewfiles/Brewfile.game") | sha256sum }} \
#                 {{ include (joinPath .chezmoi.sourceDir "dot_config/brewfiles/Brewfile.ide") | sha256sum }} \
#                 {{ include (joinPath .chezmoi.sourceDir "dot_config/brewfiles/Brewfile.langs") | sha256sum }}

# Run your installation script
echo "Running brew installation script..."
bash "{{ .chezmoi.sourceDir }}/scripts/homebrew.sh"
